@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Patrick+Hand&display=swap');

$family-sans-serif: "Inter", sans-serif;
$family-monospace: 'Patrick Hand', cursive;

$sky: #a1c7e2;
$purple: #b3a0e2;

$primary: $sky;
$warning: $purple;
$navbar-item-active-color: $purple;

@import "../node_modules/bulma/bulma.sass";